/* =========================================================================
   Content
   ========================================================================= */


/* Kids
   ========================================================================= */
.kids {
  margin-top: 1em;
  .inner-container--kids {
    max-width: 600px;
    margin: 0 auto;
    .subject {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      @media all and (max-width: 767px) {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }
}

.subject {
  a {
    width: 225px;
    height: 225px;
  }
}

@include subject-icons;