/* =========================================================================
   Layout
   ========================================================================= */
.button {
  display: inline-block;
  a {
    display: block;
    text-align: center;
    border: 1px solid $black;
    box-shadow: 8px 8px 10px #ccc;
    margin: 0 auto;
    border-radius: 30px;
    span {
      display: block;
      @include vertical-align;
    }
  }
}



/* =========================================================================
   Typography
   ========================================================================= */
.button {
  font-weight: bold;
}

.button a {
  @include adjust-font-size-to($base-font-size * 1.5);
}



/* =========================================================================
   Colors
   ========================================================================= */
.button a {
  &, &:visited {
    color: $black;
  }
  &:hover {
    color: #ccc;
  }
}
